body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
  height: 70px;
  padding: 0 100px;
  background-color: white;
}

.logo img {
  width: 130px;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu div {
  text-align: center;
  width: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0f172a;
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.auth button:nth-child(1) {
  width: 70px;
  height: 40px;
  border: 1px solid #1d4ed8;
  color: #1d4ed8;
  border-radius: 5px;
}

.auth button:nth-child(2) {
  width: 70px;
  height: 40px;
  background: #1d4ed8;
  border: 1px solid #1d4ed8;
  color: #f8fafc;
  border-radius: 5px;
}

.user-box {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.menu-logout {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 10px 15px;
}

.menu-logout.show {
  display: block;
}

.btn-logout {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 14px;
}

.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 20;
}

@media (max-width: 768px) {
  nav {
    position: relative;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .burger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu,
  .auth {
    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
    background: #fff;
    padding: 10px 0;
  }

  .menu.active,
  .auth.active {
    display: flex;
  }
}
